
.class1 {
margin-bottom: 15px;
padding: 10px 25px 10px 25px;
background-color: #dff0d8;
color: red;
}

.class2 {
width: 50%;
min-height: 100px;
float: left;
background-color: #fcf8e3;

}
.class3 {
width: 25%;
min-height: 100px;
float: right;
background-color: #d9edf7;
}
.class4 {
  background-color: #dff0d8;
  float: right;
  margin-bottom: 15px;
  width: 100%;
  margin-top: 15px;
}
